<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="practice_dev_post_listing_data_source" xsi:type="string">Practice\Dev\Model\ResourceModel\Post\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Practice\Dev\Model\ResourceModel\Post\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">practice_dev_post</argument>
            <argument name="resourceModel" xsi:type="string">Practice\Dev\Model\ResourceModel\Post</argument>
        </arguments>
    </virtualType>
    <type name="Practice\Dev\Controller\Index\Example">
        <plugin name="Practice_Dev_Plugin" type="Practice\Dev\Plugin\DevPlugin" sortOrder="10" disabled="false"  />
    </type>
    <type name="Practice\Dev\Controller\Index\Test">
        <arguments>
            <argument name="stringPost" xsi:type="array">
                <item name="practice_dev_array_model_data" xsi:type="string">Practice\Dev\Model\Post</item>
            </argument>
            <argument name="practice_dev_helper_data" xsi:type="object">Practice\Dev\Helper\Data</argument>
        </arguments>
    </type>
    <preference	for="Practice\Dev\Api\Data\SlideInterface" type="Practice\Dev\Model\Slide"/>
    <preference	for="Practice\Dev\Api\SlideRepositoryInterface" type="Practice\Dev\Model\SlideRepository"/>
    <type name="Magento\Catalog\Api\ProductRepositoryInterface">
        <plugin name="get_product_features" type="Practice\Dev\Plugin\ProductGet"/>
    </type>
</config>