<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference	for="Practice\DecimalTotalSum\Api\DecimalRepositoryInterface" type="Practice\DecimalTotalSum\Model\DecimalRepository"/>
    <preference	for="Practice\DecimalTotalSum\Api\Data\DecimalInterface" type="Practice\DecimalTotalSum\Model\Decimal"/>
    <type name="Magento\Sales\Model\Order\Invoice">
        <plugin name="save_decimal_total_sum" type="Practice\DecimalTotalSum\Plugin\DecimalTotalSum"/>
    </type>
</config>
